<div style="background-color: rgba(247, 250, 252, 0.993);">
<div class="row" style="background-color: cadetblue; width: 100%;">
    <div class="col-sm-12">
        <table>
            <tr>
                <td><button type="button" class="btn btn-primary"><span class="fa fa-circle-o-notch"></span> Float</button></td>
                <td><button type="button" class="btn btn-primary"><span class="fa fa-dollar"></span> Pick Up</button></td>
                <td><button type="button" class="btn btn-primary"><span class="fa fa-money"></span> Petty Cash</button></td>
                <td><button type="button" class="btn btn-primary"><span class="fa fa-file-text-o"></span> X-Report</button></td>
                <td><button type="button" class="btn btn-primary"><span class="fa fa-file-text"></span> Z-Report</button></td>
                <td><button type="button" class="btn btn-primary"><span class="fa fa-hdd-o"></span> Cash Drawer</button></td>
                <td><button type="button" class="btn btn-primary"><span class="fa fa-tv"></span> Display Pole</button></td>
                <td><button type="button" class="btn btn-primary"><span class="fa fa-bitbucket"></span> Hold</button></td>
                <td><button type="button" class="btn btn-primary"><span class="fa fa-bitbucket-square"></span> View Held</button></td>
                <td><button type="button" class="btn btn-primary"><span class="fa fa-expeditedssl"></span> Lock/Unlock</button></td>
                
            </tr>
        </table>
    </div>
    
</div>
<div class="row">
    <div class="col-sm-12">
        <table style="width: 100%;">
            <tr>
                <td style="vertical-align: top;">
                    <table class="table-bordered" style="font-size: 13px;display: block; height: 14cm; width: 100%; overflow-y: auto;overflow-x: auto;">
                        <thead>
                            <tr style="background-color: blanchedalmond;">
                                <td style="position: sticky; top: 0; background-color: blanchedalmond;"><b>SN</b></td>
                                <td style="position: sticky; top: 0; background-color: blanchedalmond;"><b>Barcode</b></td>
                                <td style="position: sticky; top: 0; background-color: blanchedalmond;"><b>Item Code</b></td>
                                <td style="position: sticky; top: 0; background-color: blanchedalmond;"><b>Description</b></td>
                                <td style="position: sticky; top: 0; background-color: blanchedalmond;"><b>Price@</b></td>
                                <td style="position: sticky; top: 0; background-color: blanchedalmond;"><b>VAT %</b></td>
                                <td style="position: sticky; top: 0; background-color: blanchedalmond;"><b>Discount %</b></td>
                                <td style="position: sticky; top: 0; background-color: blanchedalmond;"><b>Qty</b></td>
                                <td style="position: sticky; top: 0; background-color: blanchedalmond;"><b>Amount</b></td>
                                <td style="position: sticky; top: 0; background-color: blanchedalmond;"><b>Void</b></td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let detail of cartDetails" [ngValue]="detail" style="border-color: rgb(71, 69, 69); border-width: 1px;border-style: solid;">
                                <td style="background-color: rgb(187, 183, 183);">01></td>
                                <td><input [(ngModel)]="detail.barcode" readonly  type="text" style="width: 40mm; font-size: 14px; padding: 0px; border-width: 0px;"></td>
                                <td><input [(ngModel)]="detail.itemCode" readonly type="text" style="width: 30mm; font-size: 14px; padding: 0px; border-width: 0px;"></td>
                                <td><input [(ngModel)]="detail.description" readonly type="text" style="width: 120mm; font-size: 14px; padding: 0px; border-width: 0px;"></td>
                                <td><input [(ngModel)]="detail.price" readonly type="text" style="width: 30mm; font-size: 14px; padding: 0px; text-align: right; border-width: 0px;"></td>
                                <td><input [(ngModel)]="detail.vat" readonly type="text" style="width: 15mm; font-size: 14px; padding: 0px; border-width: 0px; text-align: center;"></td>
                                <td><input [(ngModel)]="detail.discount" readonly type="text" style="width: 20mm; font-size: 14px; padding: 0px; border-width: 0px; text-align: center;"></td>
                                <td><input [(ngModel)]="detail.quantity" type="text" style="width: 30mm; font-size: 14px; padding: 0px; border-width: 0px;"></td>
                                <td style="text-align: right; width: 25mm;">{{detail.amount|currency:'TSh':''}}</td>
                                <td><input [(ngModel)]="detail.void" type="checkbox" style="width: 15mm; font-size: 14px; padding: 0px; border-width: 0px;"></td>
                            </tr>
                            <tr style="height: 3px; background-color: grey;">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr style="border-color: rgb(71, 69, 69); border-width: 1px;border-style: solid;">
                                <td style="background-color: rgb(187, 183, 183);">-></td>
                                <td><input type="text" [(ngModel)]="barcode" (keydown.enter)="searchByBarcode(barcode)"  style="width: 40mm; font-size: 14px; padding: 0px; border-width: 0px;"></td>
                                <td><input type="text" [(ngModel)]="itemCode" (keydown.enter)="searchByItemCode(itemCode)"  style="width: 30mm; font-size: 14px; padding: 0px; border-width: 0px;"></td>
                                <td><input type="text" [(ngModel)]="description" list="description" (keydown.enter)="searchByDescription(description)" style="width: 120mm; font-size: 14px; padding: 0px; border-width: 0px;"></td>
                                <td><input readonly type="text" [(ngModel)]="price" style="width: 30mm; font-size: 14px; padding: 0px; text-align: right; border-width: 0px;"></td>
                                <td><input readonly type="text" [(ngModel)]="vat" style="width: 15mm; font-size: 14px; padding: 0px; border-width: 0px; text-align: center;"></td>
                                <td><input readonly type="text" [(ngModel)]="discount" style="width: 20mm; font-size: 14px; padding: 0px; border-width: 0px; text-align: center;"></td>
                                <td><input type="text" [(ngModel)]="quantity" style="width: 30mm; font-size: 14px; padding: 0px; border-width: 0px;" (keydown.enter)="addToCart()"></td>
                                <td style="text-align: right; width: 25mm;"></td>
                                <td style="text-align: center;"><button style="width: 5mm; height: 5mm; text-align: center;" (click)="clear()">X</button></td>
                            </tr>
                        </tbody>
                        
                    </table>
                    <datalist id="description" style="padding: 0px;">
                        <option *ngFor="let d of descriptions" [ngValue]="d">{{d}}</option>
                    </datalist>
                    <!--{{ cartDetails | json }}-->
                </td>
                <td style="vertical-align: top; align-content: right;">
                    <table>
                        <tr>
                            <td><button style="height: 2cm; width: 2cm;"type="button" class="btn btn-primary">1</button></td>
                            <td><button style="height: 2cm; width: 2cm;"type="button" class="btn btn-primary">2</button></td>
                            <td><button style="height: 2cm; width: 2cm;"type="button" class="btn btn-primary">3</button></td>
                        </tr>
                        <tr>
                            <td><button style="height: 2cm; width: 2cm;"type="button" class="btn btn-primary">4</button></td>
                            <td><button style="height: 2cm; width: 2cm;"type="button" class="btn btn-primary">5</button></td>
                            <td><button style="height: 2cm; width: 2cm;"type="button" class="btn btn-primary">6</button></td>
                        </tr>
                        <tr>
                            <td><button style="height: 2cm; width: 2cm;"type="button" class="btn btn-primary">7</button></td>
                            <td><button style="height: 2cm; width: 2cm;"type="button" class="btn btn-primary">8</button></td>
                            <td><button style="height: 2cm; width: 2cm;"type="button" class="btn btn-primary">9</button></td>
                        </tr>
                        <tr>
                            <td><button style="height: 2cm; width: 2cm;"type="button" class="btn btn-primary">0</button></td>
                            <td><button style="height: 2cm; width: 2cm;"type="button" class="btn btn-dark"><span class="fa fa-angle-up fa-1x"></span></button></td>
                            <td><button style="height: 2cm; width: 2cm;"type="button" class="btn btn-primary"><span>. </span> </button></td>
                        </tr>
                        <tr>
                            <td><button style="height: 2cm; width: 2cm;"type="button" class="btn btn-dark"><span class="fa fa-angle-left fa-1x"></span></button></td>
                            <td><button style="height: 2cm; width: 2cm;"type="button" class="btn btn-success"><span class="glyphicon glyphicon-remove"></span>OK</button></td>
                            <td><button style="height: 2cm; width: 2cm;"type="button" class="btn btn-dark"><span class="fa fa-angle-right fa-1x"></span></button></td>
                        </tr>
                        <tr>
                            <td><button style="height: 2cm; width: 2cm;" type="button" class="btn btn-danger">CE</button></td>
                            <td><button style="height: 2cm; width: 2cm;"type="button" class="btn btn-dark"><span class="fa fa-angle-down fa-1x"></span></button></td>
                            <td><button style="height: 2cm; width: 2cm;" type="button" class="btn btn-warning">C</button></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-12">
        <table>
            <tr>
                <td><button type="button" class="btn btn-primary">Change Discount %</button></td>
                <td><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-asterisk"></span> Change Price</button></td>
                <td><button type="button" class="btn btn-primary"><span class="fa fa-refresh"></span>  Refresh</button></td>
                <td><button type="button" class="btn btn-danger"><span class="fa fa-dollar"></span>   Pay</button></td>
            </tr>
        </table>
    </div>
    <div class="col-sm-12">
        <table>
            <tr>
                <td>Total</td>
                <td>Discount</td>
                <td>Tax</td>
                <td>Grand Total</td>
            </tr>
            <tr>
                <td><span><input></span></td>
                <td><span><input></span></td>
                <td><span><input></span></td>
                <td><span><input></span></td>
            </tr>
        </table>
    </div>
</div>
</div>
