<div class="row" style="background-color: cadetblue; width: 100%;">
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary">Primary</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        main
    </div>
    <div class="col-sm-4 pull-right">
        <table class="pull-right">
            <tr>
                <td><button style="height: 2cm; width: 2cm;" type="button" class="btn btn-danger">CE</button></td>
                <td><button style="height: 2cm; width: 2cm;" type="button" class="btn btn-warning">C</button></td>
                <td><button style="height: 2cm; width: 2cm;"type="button" class="btn btn-success"><span class="glyphicon glyphicon-remove"></span>X</button></td>
            </tr>
            <tr>
                <td><button style="height: 2cm; width: 2cm;"type="button" class="btn btn-primary">1</button></td>
                <td><button style="height: 2cm; width: 2cm;"type="button" class="btn btn-primary">2</button></td>
                <td><button style="height: 2cm; width: 2cm;"type="button" class="btn btn-primary">3</button></td>
            </tr>
            <tr>
                <td><button style="height: 2cm; width: 2cm;"type="button" class="btn btn-primary">4</button></td>
                <td><button style="height: 2cm; width: 2cm;"type="button" class="btn btn-primary">5</button></td>
                <td><button style="height: 2cm; width: 2cm;"type="button" class="btn btn-primary">6</button></td>
            </tr>
            <tr>
                <td><button style="height: 2cm; width: 2cm;"type="button" class="btn btn-primary">7</button></td>
                <td><button style="height: 2cm; width: 2cm;"type="button" class="btn btn-primary">8</button></td>
                <td><button style="height: 2cm; width: 2cm;"type="button" class="btn btn-primary">9</button></td>
            </tr>
            <tr>
                <td><button style="height: 2cm; width: 2cm;"type="button" class="btn btn-primary">0</button></td>
                <td><button style="height: 2cm; width: 2cm;"type="button" class="btn btn-dark"><span class="fa fa-angle-up fa-1x"></span></button></td>
                <td><button style="height: 2cm; width: 2cm;"type="button" class="btn btn-primary"><span>. </span> </button></td>
            </tr>
            <tr>
                <td><button style="height: 2cm; width: 2cm;"type="button" class="btn btn-dark"><span class="fa fa-angle-left fa-1x"></span></button></td>
                <td><button style="height: 2cm; width: 2cm;"type="button" class="btn btn-dark"><span class="fa fa-angle-down fa-1x"></span></button></td>
                <td><button style="height: 2cm; width: 2cm;"type="button" class="btn btn-dark"><span class="fa fa-angle-right fa-1x"></span></button></td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary">Primary</button>
    </div>
</div>
